In [4]:
import pandas as pd
mental_df = pd.read_csv('1- mental-illnesses-prevalence.csv')
gdp_df = pd.read_csv('gdp_ppp_per_capita.csv')

In [6]:
mental_df

,Entity,Code,Year,Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,Eating disorders (share of population) - Sex: Both - Age: Age-standardized
0,Afghanistan,AFG,1990,0.223206,4.996118,4.713314,0.703023,0.127700
1,Afghanistan,AFG,1991,0.222454,4.989290,4.702100,0.702069,0.123256
2,Afghanistan,AFG,1992,0.221751,4.981346,4.683743,0.700792,0.118844
3,Afghanistan,AFG,1993,0.220987,4.976958,4.673549,0.700087,0.115089
4,Afghanistan,AFG,1994,0.220183,4.977782,4.670810,0.699898,0.111815
...,...,...,...,...,...,...,...,...
6415,Zimbabwe,ZWE,2015,0.201042,3.407624,3.184012,0.538596,0.095652
6416,Zimbabwe,ZWE,2016,0.201319,3.410755,3.187148,0.538593,0.096662
6417,Zimbabwe,ZWE,2017,0.201639,3.411965,3.188418,0.538589,0.097330
6418,Zimbabwe,ZWE,2018,0.201976,3.406929,3.172111,0.538585,0.097909
6419,Zimbabwe,ZWE,2019,0.202482,3.395476,3.137017,0.538580,0.098295

In [7]:
gdp_df

,country,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33567.550017,36829.032774,36779.429429,37311.750320,37585.025079,38897.122666,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3237.870658,3365.682977,3503.699383,3533.230819,3627.294348,3702.390685,3791.875407,3842.578511,3684.562623,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1914.774228,2015.514775,2069.424022,2087.305323,1981.118069,2058.400221,2082.635648,2152.366489,2078.648615,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3772.323802,4013.196523,4208.731780,4139.323364,4069.005667,4115.645480,4231.815774,4335.199547,4242.114489,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7412.967035,7682.475386,8179.297828,7337.569822,7103.226431,7310.896589,7099.971958,6952.419362,6445.432873,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8039.207976,8383.397311,8649.449499,9357.135136,10007.689234,10436.168846,11013.397081,11797.119317,11387.645339,NaN
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3491.204610,3688.519409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13215.708679,13606.942896,13602.102643,13701.945390,13748.461416,13860.270166,14209.093833,14289.760003,13360.574008,NaN
264,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3422.619937,3578.847055,3539.436390,3430.400287,3404.673990,3485.021780,3606.097632,3617.200014,3457.610102,NaN
265,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2375.927006,2560.773267,2612.455954,2679.507615,2806.469032,3795.642431,4017.221716,3783.547898,3537.351394,NaN

In [8]:
gdp_df.rename(columns = {'Country Name' : 'country', 'Year':'year'}, inplace = True)

In [9]:
gdp_df = gdp_df[["country", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019"]]

In [12]:
gdp_long = gdp_df.melt(
    id_vars=['country'],          # Keep the Country column as is
    var_name='year',              # The column name for former year headers
    value_name='gdp_per_capita')   # The column name for the values

In [13]:
gdp_long

                          country  year  gdp_per_capita
0                           Aruba  2009    33553.882002
1     Africa Eastern and Southern  2009     3109.605124
2                     Afghanistan  2009     1519.692923
3      Africa Western and Central  2009     3359.362655
4                          Angola  2009     6470.675244
...                           ...   ...             ...
2921                       Kosovo  2019    11797.119317
2922                  Yemen, Rep.  2019             NaN
2923                 South Africa  2019    14289.760003
2924                       Zambia  2019     3617.200014
2925                     Zimbabwe  2019     3783.547898

[2926 rows x 3 columns]

In [14]:
gdp_long['year'] = gdp_long['year'].apply(int)

In [15]:
gdp_long = gdp_long.sort_values(by=['country', 'year']).reset_index(drop=True)

In [16]:
gdp_long

          country  year  gdp_per_capita
0     Afghanistan  2009     1519.692923
1     Afghanistan  2010     1710.575411
2     Afghanistan  2011     1699.488110
3     Afghanistan  2012     1914.774228
4     Afghanistan  2013     2015.514775
...           ...   ...             ...
2921     Zimbabwe  2015     2679.507615
2922     Zimbabwe  2016     2806.469032
2923     Zimbabwe  2017     3795.642431
2924     Zimbabwe  2018     4017.221716
2925     Zimbabwe  2019     3783.547898

[2926 rows x 3 columns]

In [422]:
mental_df.nunique()

Entity                                                                                214
Code                                                                                  205
Year                                                                                   30
Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized    6406
Depressive disorders (share of population) - Sex: Both - Age: Age-standardized       6416
Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized          6417
Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized          6385
Eating disorders (share of population) - Sex: Both - Age: Age-standardized           6417
dtype: int64

In [423]:
mental_df = mental_df[['Entity','Year','Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized','Depressive disorders (share of population) - Sex: Both - Age: Age-standardized']]

In [424]:
mental_df.rename(columns = {'Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized' : 'anxiety_rate', 
                           'Entity' : 'country','Depressive disorders (share of population) - Sex: Both - Age: Age-standardized':'depressive_disorder_rate', 'Year':'year'}, inplace = True)

In [425]:
mental_df = mental_df[(mental_df['year'] >= 2009) & (mental_df['year'] <= 2019)]

In [426]:
merged_df = pd.merge(mental_df, gdp_long, on =['country','year'])

In [427]:
merged_df.isnull().sum()

country                      0
year                         0
anxiety_rate                 0
depressive_disorder_rate     0
gdp_per_capita              97
dtype: int64

In [428]:
merged_df = merged_df.round(3)

In [429]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936 entries, 0 to 1935
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country                   1936 non-null   object
 1   year                      1936 non-null   int64
 2   anxiety_rate              1936 non-null   float64
 3   depressive_disorder_rate  1936 non-null   float64
 4   gdp_per_capita            1839 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 75.8+ KB

In [430]:
merged_df.dropna(inplace = True)

In [431]:
merged_df.isnull().sum()

country                     0
year                        0
anxiety_rate                0
depressive_disorder_rate    0
gdp_per_capita              0
dtype: int64

In [432]:
merged_df

,country,year,anxiety_rate,depressive_disorder_rate,gdp_per_capita
0,Afghanistan,2009,4.695,4.949,1519.693
1,Afghanistan,2010,4.702,4.947,1710.575
2,Afghanistan,2011,4.716,4.945,1699.488
3,Afghanistan,2012,4.739,4.945,1914.774
4,Afghanistan,2013,4.767,4.944,2015.515
...,...,...,...,...,...
1931,Zimbabwe,2015,3.184,3.408,2679.508
1932,Zimbabwe,2016,3.187,3.411,2806.469
1933,Zimbabwe,2017,3.188,3.412,3795.642
1934,Zimbabwe,2018,3.172,3.407,4017.222
1935,Zimbabwe,2019,3.137,3.395,3783.548

In [433]:
merged_df.to_csv('gdp_anxietyrates.csv', index=False)